h1 {
  font-family: 'Amarante', Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center; }

#table {
  display: block;
  width: 1000px;
  background: #fff;
  margin: 90px auto 100px;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35); }

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px; }

#keywords thead {
  cursor: pointer;
  background: #c9dff0; }

#keywords thead tr th {
  font-weight: bold;
  padding: 12px 15px;
  padding-left: 42px; }

#keywords thead tr th span {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%; }

#keywords tbody tr {
  color: #555;
  border-bottom: 1px solid #ccc; }

#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px; }

#keywords tbody tr td.lalign {
  text-align: left; }
