<div class="wrapperr">
    <div class="profile-card js-profile-card">
        <div class="profile-card__img">
            <img src="img/nhat.jpg"
                alt="profile card">
        </div>

        <div class="profile-card__cnt js-profile-cnt">
            <div class="profile-card__name">{{user.ten}}</div>
            <div class="profile-card__txt">Back-end Developer from <strong>PTIT</strong></div>
            <div class="profile-card-loc">
                <span class="profile-card-loc__icon">
                    <i class="fa-solid fa-location-dot"></i>
                </span>

                <span class="profile-card-loc__txt">
                    Hà Nội, Việt Nam
                </span>
            </div>

            <div class="profile-card-inf">
                <div class="profile-card-inf__item">
                    <div class="profile-card-inf__title">{{user.masv}}</div>
                    <div class="profile-card-inf__txt">Mã sinh viên</div>
                </div>

                <div class="profile-card-inf__item">
                    <div class="profile-card-inf__title">{{user.sdt}}</div>
                    <div class="profile-card-inf__txt">Số điện thoại</div>
                </div>

                
            </div>

            <div class="profile-card-social">
                <a href="https://www.facebook.com/nhat.buituan.5/" class="profile-card-social__item facebook"
                    target="_blank" >
                    <i class="fa-brands fa-facebook"></i>
                </a>

                <a href="https://twitter.com/iaMuhammedErdem" class="profile-card-social__item twitter" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>

                <a href="https://www.instagram.com/iamuhammederdem" class="profile-card-social__item instagram"
                    target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://www.behance.net/iaMuhammedErdem" class="profile-card-social__item behance"
                    target="_blank">
                    <i class="fa-brands fa-behance"></i>
                </a>

                <a href="https://github.com/muhammederdem" class="profile-card-social__item github" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://codepen.io/JavaScriptJunkie" class="profile-card-social__item codepen" target="_blank">
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>
</div>