<div id="table">
    <h1>Action History</h1>

    <table id="keywords" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th><span>Sensor ID</span></th>
                <th><span>Người dùng</span></th>
                <th><span>Hành động</span></th>
                <th><span>Thời gian</span></th>
            </tr>
        </thead>
        <tbody>
            {{#each actions}}
            <tr>
                <td>{{this.sensorId}}</td>
                <td>{{this.name}}</td>
                <td>{{this.action}}</td>
                <td>{{formatDate this.createdAt}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>