<div id="table">
    <h1>Action History</h1>

    <table id="keywords" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th><span>Sensor ID</span></th>
                <th><span>Người dùng</span></th>
                <th><span>Hành động</span></th>
                <th><span>Thời gian</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Bùi Tuấn Nhật</td>
                <td>Bật quạt</td>
                <td> 16:30 1/2/3032</td>
            </tr>
        </tbody>
    </table>
</div>